.container{
    text-align: center;
    margin-top: 50px;
}

.welcome{
  background: linear-gradient(90deg, blue, red); /* Customize gradient colors */
  -webkit-background-clip: text;
  color: transparent;
  font-size: 60px;
  font-weight: bold;
}
