<div class="container mt-4">
  <h2>Template Messages</h2>
  <button class="btn btn-primary mb-3" routerLink="/templates/add">Add Template</button>
  <button class="btn btn-primary mb-3 mx-3" routerLink="/client">Back</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Content</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let template of templates">
        <td>{{ template.name }}</td>
        <td>{{ template.content }}</td>
        <td>
          <button class="btn btn-warning btn-sm" [routerLink]="['/templates/edit', template.id]">Edit</button>
          <button class="btn btn-danger btn-sm ms-2" (click)="deleteTemplate(template.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
